/*-----------------------------------------------------------------------------------------------------*/
/*Customize Top Tab Panel*/
/*-----------------------------------------------------------------------------------------------------*/
.tab-title-number {
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    position: relative;
    top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {  clip-path: polygon(90% 0, 100% 50%, 91% 100%, 0% 100%, 6% 49%, 0% 0%);  -webkit-clip-path: polygon(90% 0, 100% 50%, 91% 100%, 0% 100%, 6% 49%, 0% 0%);}


/*-----------------------------------------------------------------------------------------------------*/
/*div for datatable output*/
/*-----------------------------------------------------------------------------------------------------*/
.output_chart_div {
  height: 475px;
  border-style: double;
  padding: 10px;
  
}

/*-----------------------------------------------------------------------------------------------------*/
/*div for chart output*/
/*-----------------------------------------------------------------------------------------------------*/

.output_datatbale_div {
  height: 475px;
  border-style: double;
  padding: 3px 10px 0px 10px;
}
